<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="top-products" ng-controller="TopProductsController">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="../services/top-products.js"></script>
        <theme></theme>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=application-view-js">
        </script>
        <link type="text/css" rel="stylesheet"
            href="/services/js/resources-core/services/loader.js?id=application-view-css" />
        <script type="text/javascript" src="/webjars/chart.js/dist/chart.umd.js"></script>
        <script type="text/javascript" src="../js/top-products-controller.js"></script>

        <style>
            .tile-auto-layout {
                min-height: auto;
                height: auto;
                width: auto;
                max-width: 100%;
            }

        </style>
    </head>

    <body fd-scrollbar class="fd-padding-begin-end--tiny">
        <fd-panel expanded="true" class="fd-col fd-col--12">

            <fd-panel-content aria-label="Products Content">

                <div class="fd-row" style="margin: 0.5em">
                    <div class="fd-col fd-col--12 fd-col-md--6 fd-col-lg--6 fd-col-xl--6">
                        <fd-card card-type="table">
                            <fd-card-header ng-click="openPerspective('products')">
                                <fd-card-title>Top Products</fd-card-title>
                            </fd-card-header>
                            <fd-card-content>
                                <table class="fd-table fd-table--no-horizontal-borders fd-table--no-vertical-borders">
                                    <thead class="fd-table__header">
                                        <tr class="fd-table__row">
                                            <th class="fd-table__cell">Product</th>
                                            <th class="fd-table__cell">
                                                <button class="fd-button fd-button--compact"
                                                    ng-click="displayByUnits()">By Units</button>
                                            </th>
                                            <th class="fd-table__cell">
                                                <button class="fd-button fd-button--compact"
                                                    ng-click="displayByRevenue()">By Revenue</button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="fd-table__body" id="top_products">
                                        <tr ng-repeat="next in displayedProducts">
                                            <td class="fd-table__cell">
                                                <a class="fd-link"><span
                                                        class="fd-link__content">{{next.productName}}</span></a>
                                            </td>
                                            <td class="fd-table__cell">{{next.unitCount}}</td>
                                            <td class="fd-table__cell">{{next.revenue}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fd-card-content>
                        </fd-card>
                    </div>
                </div>
            </fd-panel-content>
        </fd-panel>
    </body>

</html>
